<h1>Books</h1>
<table>
    <tr>
        <th>Title</th><th>Opinion</th>
    </tr>
</table>
    <% @user.books.each do |book| %>
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    <%= book.title %>
    <%= book.body %>
    <% end %>

